html { 
    background: url(../images/background.jpg) no-repeat center fixed; 
    background-size: cover;
}
.border--active {
    border-bottom: 1px ridge;
}
.bold--active {
    font-weight: bold;
}
.card--active {
    border: 1px solid #F7F7F7;
    background-color: #F7F7F7;
}
.checkout-page {
    box-shadow: 3px 7px 15px grey;
    margin: 5%;
    background-color: white;
    flex-wrap: wrap;
}
.checkout-menu {
    display: flex;
    padding: 1%;
}
.checkout-menu >* {
    flex: 1;
}
.co-shipping {
    flex: 7;
}
.co-shipping span+span::before{
    content: "/";
    padding: 2%;
}
.co-window-close {
    text-align: right;
}
.checkout-method {
    display: flex;
    flex-wrap: wrap;
}

.co-payment-card {
    display: flex;
    padding: 3%;
}
.card-with-text {
    text-align: justify;
    width: [width of img];
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
}
.card-image {
    width: 95%;
    margin-top: 5%;
    margin-left: 5%;
}
.new-card-entry {
    position: relative;
    left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.input-expiry--margin {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.new-card-input {
    width: 100%;
    border: 2px solid #d9d9d9;
    border-radius: 4%;
    flex: 1;
    margin-top: 4px;
    padding: 10px;
    font-size: 8px;
    box-sizing: border-box;
}
.new-card-input-small {
    width: 100%;
    border: 2px solid #d9d9d9;
    border-radius: 4%;
    flex: 0.48;
    margin-top: 4px;
    padding: 10px;
    font-size: 8px;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
.button--green {
    width: 100%;
    border: none;
    padding: 15px;
    margin-top: 5%;
    background-color: #4CAF50;
    color: white; 
} 
.co-payment-block {
    flex: 2;
    padding: 1%;
}
.co-cart-block {
    flex: 1;
    flex-wrap: wrap;
    padding: 1%;
    background-color: #EEEEEF;
}
.product-image {
    width: 10%;
    height: 10%;
    flex: 1;
    border: 3px solid gray;
}
.co-cart-products {
    display: flex;
    flex-direction: column;
}
.product-list {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    padding: 1%;
}
.product-cost {
    text-align: right
}
.cost-align--active {
    /* margin-left: 87%; */
    font-size: 10px;
    /* flex: 1; */
    text-align: right;
}
.product-description {
    font-size: 10px;
    flex: 9;
    flex-wrap: wrap;
    padding-left: 1%;
}
.product-name--active{
    font-size:15px;
    padding-left: 1%;
}
.checkout-amount {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
}
.total-amount {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 12px;
}
hr { 
    width: 95%;
} 
@media only screen and (min-width: 992px) {
    .checkout-page {
        margin-left: 100px;
        margin-right: 100px;
    }
    .co-payment-block {
        flex: 3;
    }
    .co-cart-block {
        flex: 2;
    }
}
@media only screen and (max-width: 992px) {
    .checkout-page {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .co-payment-block {
        flex: 1;
    }
    .co-cart-block {
        flex: 1;
    }
}
@media only screen and (max-width: 600px) {
    .checkout-method {
        flex-direction: column;
    }
    .co-payment-block {
        order: 2;
    }
    .co-cart-block {
        order: 1;
    }
}
@media only screen and (max-width: 400px) {
    .co-payment-card {
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px) {
    .co-shipping {
        display: none;
    }
}